@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 33% 99%;
    --foreground: 240 10% 4%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;

    --primary: 255 92% 76%;
    --primary-foreground: 210 40% 98%;

    --secondary: 291 86% 61%;
    --secondary-foreground: 210 40% 98%;

    --muted: 246 44% 97%;
    --muted-foreground: 240 4% 46%;

    --accent: 24 94% 53%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 240 5% 65%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 210 40% 98%;

    --card: 240 10% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 240 10% 4%;
    --popover-foreground: 210 40% 98%;

    --primary: 255 92% 76%;
    --primary-foreground: 240 10% 4%;

    --secondary: 291 86% 61%;
    --secondary-foreground: 210 40% 98%;

    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;

    --accent: 24 94% 53%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 240 5% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}